<div class="flex flex-col items-center">
  <h1
    class="mb-10 max-w-[24ch] px-4 text-center text-5xl/[1.1] font-semibold md:text-6xl/[1.1] text-focus-in"
    data-astro-cid-5vuvvkej=""
  >
    Puedes personalizar la apariencia de tu <span
      class="font-extrabold text-transparent bg-clip-text bg-gradient-to-r from-green-500 to-purple-500"
      >RADIO</span
    >
  </h1>
  <p
    class="body body-large px-2 text-center text-gray-400 md:px-8 max-w-3xl font-bold"
    style="text-wrap: balance;"
  >
    Al contratar tu plan anual podrás acceder a una APP alojada en la Google
    Play donde aparecerá el nombre de tu radio, logo, sistema de carátulas,
    audio con pantalla de bloqueo, nombres y títulos e integración con redes
    sociales.
  </p>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
/><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br
/><br /><br />
