<section class="text-center">
  <h2
    class="text-slate-900 text-2xl/[1.1] lg:text-5xl/[1.1] md:text-3xl/[1.1] tracking-tight font-extrabold s dark:text-white"
  >
    LA APP DE TU RADIO ES GRATIS
  </h2>
  <blockquote>
    <p class="mt-6 max-w-3xl mx-auto text-lg">
      Al
      <a href="" class="text-sky-500 font-semibold dark:text-sky-400"
        >contratar</a
      >
      Al contratar tu plan anual podrás acceder a una APP alojada en la Google Play
      donde aparecerá el nombre de tu radio, logo, sistema de carátulas, audio con
      pantalla de bloqueo, nombres y títulos e integración con redes sociales.
    </p>
  </blockquote>
  <button
    class="hover:bg-green-600 bg-green-600 rounded-full p-5 font-bold text-white inline-flex items-center mt-5"
  >
    <a href="https: wa.link aazgw1"><span>Contratación Personalizada</span></a>
  </button>
</section>
