---
import { Astronav, MenuItems, MenuIcon, StickyHeader } from "astro-navbar";
---

<StickyHeader
  class="sticky top-0 z-20 transition-all lg:flex justify-between p-9 mx-auto h-16"
  defaultClass="py-5 border-1 bg-transparent text-gray-400"
  scrollY={70}
  activeClass="py-5 backdrop-blur-lg text-black ext-slate-100 bg-slate-950"
>
  <Astronav>
    <div class="flex w-full lg:w-auto items-center justify-between">
      <a href="/" class="text-lg"
        ><span class="">Xhost logo</span><span class="">Radios</span>
      </a>
      <div class="block lg:hidden">
        <MenuIcon class="w-4 h-4" />
      </div>
    </div>
    <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
      <ul class="flex flex-col lg:flex-row lg:gap-6 lg:items-center">
        <li>sadas</li>
        <li>sadas</li>
        <li>sadas</li>

        <li>
          <button
            class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
          >
            Button
          </button>
        </li>
      </ul>
    </MenuItems>
  </Astronav>
</StickyHeader>
