---
//SEO

import NavBar from "../components/NavBar/NavBar.astro";
import CallToAction from "../components/CallToAction/CallToAction.astro";
import Footer from "../components/Footer/Footer.astro";
import Loader from "../components/Loader/Loader.astro";

import "../../src/Estilos/Global.css";
---

<html lang="ES">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script
      src="https://kit.fontawesome.com/acf431a76a.js"
      crossorigin="anonymous"></script>
    <!-- <script
      id="sonic_js"
      data-port="8070"
      src="https://streaming01.xhost.cl/cp/widgets.js?r=880"></script> -->
  </head>
  <body class="bg-slate-900">
    <Loader />
    <NavBar />
    <slot />
    <CallToAction />
    <Footer />
  </body>
</html>
